apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "triton-server.fullname" . }}
  labels:
    {{- include "triton-server.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "triton-server.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "triton-server.selectorLabels" . | nindent 8 }}
    spec:
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      volumes:
        - name: triton-volume
          persistentVolumeClaim:
            claimName: triton-pvc
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: 682187450638.dkr.ecr.us-east-1.amazonaws.com/face-hugger-repository:latest
          imagePullPolicy: Always
          volumeMounts:
            - mountPath: "/var/triton"
              name: task-pv-storage
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          resources:
            requests:
              memory: 1G
              cpu: 1
            limits:
              memory: 2G
              cpu: 2

