apiVersion: v1
kind: Pod
metadata:
  name: init-hooks
  annotations:
    "helm.sh/hook": "pre-install,pre-upgrade"
spec:
  volumes:
    - name: triton-volume
      persistentVolumeClaim:
        claimName: triton-pvc
  containers:
    - name: init-triton-server
      image: "682187450638.dkr.ecr.us-east-1.amazonaws.com/face-hugger-repository:latest"
      command: ["python", "export_model_to_repository.py"]
      volumeMounts:
        - mountPath: "/var/triton/"
          name: triton-volume