name: Build Docker Image, Push to Registry, and Deploy with Helm

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Docker Build, Push, and Helm Upgrade

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
      - name: Build, tag, and push docker image to Amazon ECR
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: face-hugger-repository
          IMAGE_TAG: latest
        run: |
          docker build -t $REGISTRY/$REPOSITORY:$IMAGE_TAG .
          docker push $REGISTRY/$REPOSITORY:$IMAGE_TAG
      - name: Get Kubeconfig
        run: aws eks update-kubeconfig --region us-east-1 --name face-hugger
      - name: Helm Deploy Volume
        run: helm upgrade -i triton-volume k8s/volume
      - name: Helm Deploy Server
        run: helm upgrade -i triton-server k8s/triton-server --timeout 15m
